DB_HOST=localhost
DB_PORT=5433
DB_USER=e4n2
DB_PASSWORD=e4n2pass
DB_NAME=e4n2db
JWT_SECRET=supersecretkey123
PORT=4001
SUPABASE_DB_URL=postgresql://postgres:[PASSWORD]@[HOST]:[PORT]/postgres

# Sipay config
SIPAY_API_URL=https://provisioning.sipay.com.tr/ccpayment
SIPAY_APP_ID=6d4a7e9374a76c15260fcc75e315b0b9
SIPAY_APP_SECRET=b46a67571aa1e7ef5641dc3fa6f1712a
SIPAY_MERCHANT_KEY=$2y$10$HmRgYosneqcwHj.UH7upGuyCZqpQ1ITgSMj9Vvxn.t6f.Vdf2SQFO

